.q1{
    color:rgb(252, 194, 93);
    font-family: 'Roboto', sans-serif;

}

.q2{
    color: rgb(252, 194, 93);
    font-family: 'Roboto', sans-serif;
}

.q3{
    color:rgb(252, 194, 93);
    font-family: 'Roboto', sans-serif;
}

.color-card{
    color: rgb(255, 132, 0);
    font-family: 'Darker Grotesque', sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
}


.country-card{
    font-family: 'Darker Grotesque', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(255, 132, 0);
}

.activity-card{
    font-family: 'Darker Grotesque', sans-serif;
    display:flex;
    align-items: center;
    justify-content:center;
    color: rgb(255, 132, 0);


}

.submit{
    height: 8vh;
    width: 25vw;
    margin-left: 50vw;
    font-size: 3ch;
    font-family: 'Darker Grotesque', sans-serif;
    background-color: transparent;
    border-color: rgb(255, 132, 0);
   
    
}

.finals{
    color: rgb(255, 132, 0)
}

.finalsimg{
    width:100%;
    height:auto;
}