body {
  /* background-color: rgb(255, 255, 255); */
  background-image:url('https://previews.123rf.com/images/reamolko/reamolko1411/reamolko141100068/33786172-seamless-light-flower-background-pastel-colors-floral-pattern-.jpg')
}


header {
  font-size: 30px;
  margin-top:0px;
  color: rgb(205, 149, 215);
  font-family: 'Yellowtail', cursive;
  
}

.paragraph{
  color:rgb(252, 194, 93);
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 75px;
}

.name{
  font-size: 40px;
  font-family: 'Fjalla One', sans-serif;
}

#namebox {
  height: 6vh;
  width: 25vw;
  border-color:rgb(249, 216, 146);
  text-align:center;
  font-size: 30px;
  
}

